.login-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;

  background: rgb(138, 138, 138);
  background: linear-gradient(
    145deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(62, 113, 126, 1) 44%,
    rgba(29, 4, 4, 1) 100%,
    rgba(1, 98, 120, 1) 100%
  );
}
