.glass-morph {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: none;
}

.card {
  color: #ffffff;
}

.labelStyling {
  color: #ffffff;
}

.margin-btm {
  margin-bottom: 0.5em;
}