.header-bar {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
}
